/src/antlr-4.11.1-complete.jar

/src/test1.micro
/src/test1.out
/src/test2.micro
/src/test2.out
/src/test3.micro
/src/test3.out
/src/Little.interp
/src/Little.tokens
/src/LittleBaseListener.java
/src/LittleBaseVisitor.java
/src/LittleLexer.java
/src/LittleLexer.interp
/src/LittleLexer.tokens
/src/LittleListener.java
/src/LittleParser.java
/src/LittleVisitor.java
/src/Micro.sh
/src/step2.java
/src/group10.micro
/src/inputs/
/src/outputs/
/compilersproject.iml
/.idea/
